{% extends 'layout/base.html' %}

{% block content %}
<div class="container ">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5 fw-bold text-center">Image Gallery</h1>
            
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        
        {% for item in images %}
        <div class="col-md-6 col-lg-3 mb-3">
            <div class="card">
                <img class="card-img-top data-pic" src="{{item.image.url}}" alt="{{item.title}}" height="200px">
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="card-text">{{item.category}}</p>
                    <div class="card-footer text-center ">
                        <button class="btn" id="btn-pic" onclick="mymodal" data-toggle="modal">
                            <i class="bi bi-eye-fill text-center"></i>
                        </button>
                        <a class="btn" href="{% url 'delete_image' item.id %}">
                            <i class="bi bi-trash text-center text-black"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="mymodal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="text-center title text-primary">{{item.title}}</h2>
                        <button class="close text-danger" type="button" data-dismiss="modal"> &times; </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <img  class="img-fluid target shadow-lg" alt="{{img.title}}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} 
    </div>
</div>

{% endblock content %}
   

{% block js %}
    <script>
        var modal= document.getElementById('mymodal');  // get the modal
        var img = document.getElementsByClassName('data-pic');  // img which has to preview
        var modalImg= document.getElementsByClassName('target');  // target where the img has to be displayed
        var modal_title = document.getElementsByClassName('title'); // title of pic

        function mymodal(){
            modal.style.display="block";
            modalImg.src= img.src;
            modal_title = img.alt;  

        }
    </script>  

{% endblock js %}
    

{% block css %}
    <style>
        main{
            background-color:rgb(94, 235, 240);
        }
        .jumbotron{
            margin: 2px 2px 10px 2px;
            background-color:rgb(18, 157, 199);
            color:whitesmoke;
            font: bolder;
            font-family:Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            font-size:50%;
            
        }
        .card{
            background-color:rgb(18, 157, 199);
            color:black;
            text-align: center;
            border-width: 3px 3px 3px 3px;
            border-style:solid;
            border-color:white;
            border-radius:0.3rem;
            text-transform: uppercase;
            box-shadow: 3px 3px grey;
            
        }
        .card-footer{
            background-color:beige;
            border-width:2px 2px 2px 2px;
            border-style:solid;
            border-color:cadetblue;
        }

        i{
            font-size: larger;
            color:rgb(1, 22, 36);
        }
    </style>    
{% endblock css %}
    